<h1>Welcome</h1>

      <% if !user_signed_in? %>
             <%= link_to 'Sign In', new_user_session_path %>
      <% else %>
             </br>
             </br>
             <%= link_to 'View Tasks', tasks_path(@welcome)%>

             </br>
             <%= link_to 'View Courses', courses_path(@welcome)%>

       <% end %>


&nbsp;
